h1 {
    background-color: rgb(57, 57, 196);
    background-blend-mode:hard-light;
    color: whitesmoke;
    text-align: center;
}

.card {
    display: flex;
    justify-content: left;
    align-items: left;
}

.weather {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fivedayforecast{
    display: flexbox;
}

.button {
    cursor: pointer;
}